<div>
  <section class="section-box">
    <div class="banner-hero bg-2 bg-services-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 box-banner-left">
            <h1 class="text-display-3 mt-30">Perfect Fit<br class="d-lg-block d-none" /> Tailoring Services</h1>
            <p class="text-body-lead-large color-gray-500 mt-40 pr-40 fs-5">Customize Your Wardrobe with Flawless
              Fit and Style.<br class="d-lg-block d-none" />Say goodbye to ill-fitting clothes and hello to a
              wardrobe that<br class="d-lg-block d-none" /> fits you perfectly.</p>
            <div class="row mt-50">
              <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="list-icons">
                  <div class="item-icon none-bd"><span class="icon-left">
                      <img width={64} height={64} src="/assets/images/page/services/1/icon-scissors.svg" alt="Moirai" />
                    </span>
                    <h4 class="text-heading-4"><span class="text-heading-3">+<span
                          class="count">13</span>k</span></h4>
                    <p class="text-body-text color-gray-500">Products Fixed</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="list-icons">
                  <div class="list-icons">
                    <div class="item-icon none-bd"><span class="icon-left">
                        <img width={64} height={64} src="/assets/images/page/services/1/icon-heart.svg" alt="Moirai" />
                      </span>
                      <h4 class="text-heading-4"><span class="text-heading-3">+<span
                            class="count">12</span>k</span></h4>
                      <p class="text-body-text color-gray-500">Customers Satisfaction</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 d-none d-lg-block">
            <div class="banner-images relative h-full">
              <div class="block-services-1">
                <img width={850} height={515} src="/assets/images/page/services/1/banner.png" alt="Moirai" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-box">
    <div class="container mt-60">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-12">
          <div class="text-start mb-25"><span class="tag-1 bg-9 text-primary">What We Do</span></div>
          <h2 class="text-heading-2 color-gray-900 mb-50">Tailored Perfection, <br
              class="d-lg-block d-none" />Just For You</h2>
        </div>
      </div>
    </div>
    <div class="container mt-20 mb-20">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="list-icons">
            <div class="item-icon none-bd"><span class="icon-left">
                <img width={52} height={52} src="/assets/images/page/services/1/icon-checking.svg" alt="Moirai" />
              </span>
              <h4 class="text-heading-6">Inspection and Evaluation</h4>
              <p class="text-body-text color-gray-600 mt-15">Our expert team conducts a thorough inspection to
                assess the garments requiring alteration. We identify specific adjustments needed for the desired fit.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="list-icons">
            <div class="item-icon none-bd"><span class="icon-left">
                <img width={52} height={52} src="/assets/images/page/services/1/icon-comfirm.svg" alt="Moirai" />
              </span>
              <h4 class="text-heading-6">Size Confirmation</h4>
              <p class="text-body-text color-gray-600 mt-15">Upon receiving customer-provided size information, we
                verify the measurements and cross-reference them with garment specifications for accurate alterations.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="list-icons">
            <div class="item-icon none-bd"><span class="icon-left">
                <img width={52} height={52} src="/assets/images/page/services/1/icon-sewing.svg" alt="Moirai" />
              </span>
              <h4 class="text-heading-6">Alteration and Tailoring</h4>
              <p class="text-body-text color-gray-500 mt-15">Our experienced tailors meticulously adjust the
                garments, including hemming, seam adjustments, and more, ensuring a perfect fit based on customer
                requirements.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="list-icons">
            <div class="item-icon none-bd"><span class="icon-left">
                <img width={52} height={52} src="/assets/images/page/services/1/icon-check-all.svg" alt="Moirai" />
              </span>
              <h4 class="text-heading-6">Quality Assurance</h4>
              <p class="text-body-text color-gray-500 mt-15">After alterations, our quality assurance team
                rigorously inspects each garment, checking fit, stitching, and craftsmanship to ensure high standards
                and customer satisfaction.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="list-icons">
            <div class="item-icon none-bd"><span class="icon-left">
                <img width={52} height={52} src="/assets/images/page/services/1/icon-iron.svg" alt="Moirai" />
              </span>
              <h4 class="text-heading-6">Final Touches and Pressing</h4>
              <p class="text-body-text color-gray-500 mt-15">Before delivery, we add final touches, such as pressing
                or steaming, to ensure impeccable appearance, eliminating wrinkles and presenting garments in their best
                condition.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="list-icons">
            <div class="item-icon none-bd"><span class="icon-left">
                <img width={52} height={52} src="/assets/images/page/services/1/icon-delivery.svg" alt="Moirai" />
              </span>
              <h4 class="text-heading-6">Packaging and Delivery</h4>
              <p class="text-body-text color-gray-500 mt-15">After completing alterations and final touches, we
                securely package the garments for transit. Prompt delivery to the customer&apos;s specified address
                ensures a seamless experience.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <best-seller-component [bestSellerData]="bestSellerData" bestSellerStyle="style-5" [smallImgTop]="true" [imagesRight]="true"></best-seller-component>
  <section class="section-box mt-70">
    <div class="container mt-70">
      <h3 class="text-heading-1 text-center mb-10">Multiple Clothing Repair Options<br
          class="d-lg-block d-none" /> To Suit Your Needs</h3>
    </div>
    <price-table-component [priceData]="pricingData" [priceItemStyle]="'price-style-3'"></price-table-component>
  </section>
  <news-letter-component newsletterStyle="style-5" />
</div>
