<div>
  <section class="section-box">
    <div class="banner-hero banner-breadcrums">
      <div class="container text-center">
        <h1 class="text-heading-2 color-gray-1000 mb-20">Contact Us</h1>
        <p class="text-body-text color-gray-500">Have a question or need assistance? We&apos;re here to provide you
          with the support you need.</p>
      </div>
    </div>
  </section>
  <contact-box-app></contact-box-app>
  <section class="section-box mt-80">
    <div class="container mt-60">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-12 text-center">
          <h2 class="text-heading-1 color-gray-900 mb-20">Our Location</h2>
          <p class="text-body-lead-large color-gray-600 mt-20">Welcome to our fashion hub located in the heart of
            Moirai. Situated in a vibrant and trendy neighborhood, our location serves as the physical embodiment of our
            brand&apos;s vision and values.</p>
        </div>
      </div>
    </div>
    <div class="container mt-60">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="list-icons hover-up">
            <div class="item-icon"><span class="icon-left">
                <img width={80} height={80} src="/assets/images/page/contact/icon-home.svg" alt="Moirai" />
              </span>
              <h4 class="text-heading-4">Ofice</h4>
              <p class="text-body-text color-gray-1100 mt-15">205 North Michigan Avenue, Suite 810<br />Chicago,
                60601, USA<br />Phone: (123) 456-7890<br />Email: vzenlabs@gmail.com</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="list-icons hover-up">
            <div class="item-icon"><span class="icon-left">
                <img width={80} height={80} src="/assets/images/page/contact/icon-flower.svg" alt="Moirai" />
              </span>
              <h4 class="text-heading-4">Studio</h4>
              <p class="text-body-text color-gray-1100 mt-15">205 North Michigan Avenue, Suite 810<br />Chicago,
                60601, USA<br />Phone: (123) 456-7890<br />Email: vzenlabs@gmail.com</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="list-icons hover-up">
            <div class="item-icon"><span class="icon-left">
                <img width={80} height={80} src="/assets/images/page/contact/icon-ambulance.svg" alt="Moirai" />
              </span>
              <h4 class="text-heading-4">Factory</h4>
              <p class="text-body-text color-gray-1100 mt-15">205 North Michigan Avenue, Suite 810<br />Chicago,
                60601, USA<br />Phone: (123) 456-7890<br />Email: vzenlabs@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
