<div>
  <section class="section-box">
    <div class="banner-hero banner-breadcrums bg-gray-100">
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="text-display-3 color-gray-900 mb-20">Our Blog</h1>
            <p class="text-heading-6 color-gray-600 mb-20">
              Welcome to our fashion shop blog, a virtual haven for style enthusiasts<br
                class="d-lg-block d-none" />
              and trendsetters alike. Here, we dive into the world of fashion retail,<br
                class="d-lg-block d-none" />
              bringing you the latest updates, tips, and inspiration to enhance your <br
                class="d-lg-block d-none" />
              shopping experience.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <posts-component bigTitle="Featured Articles" description="From Our Blog And Event Fanpage" [postsData]="postsData" />
  <blogs-component [blogsData]="blogsData"></blogs-component>
  <news-letter-component></news-letter-component>
</div>
