<div>
  <section class="section-box">
    <div class="banner-hero bg-about-2">
      <div class="container">
        <div class="mt-30 flex">
          <div class="w-1/2 pb-24">
            <span class="tag-1 bg-6 color-green-900">What We Do, What You Get</span>
            <h1 class="text-display-3 mt-30">
              A small creative team excited to create beautiful things
            </h1>
            <p class="text-body-lead-large color-gray-500 mt-40 pr-40">
              Elevate Your Style, Embrace the Extraordinary
            </p>
            <div class="mt-40">
              <a routerLink="/about" class="btn btn-black icon-arrow-right-white">Join Our Team</a>
              <a routerLink="/contact" class="btn color-gray-900 icon-arrow-right text-heading-6">Contact
                Us</a>
            </div>
          </div>
          <div class="w-1/2">
            <div class="banner-images">
              <div class="block-1 shape-2 relative hidden xl:block">
                <img class="absolute hidden 2xl:block" width="600" height="628" src="/assets/images/page/about/2/banner.png" alt="Moirai" />
              </div>
              <div class="float-end col-lg-3 mt-90">
                <div class="list-icons mt-50">
                  <div class="item-icon none-bd">
                    <span class="icon-left">
                      <img width="{64}" height="{64}" src="/assets/images/page/about/2/icon-project-done.svg"
                        alt="Moirai" />
                    </span>
                    <h4 class="text-heading-4">
                      <span class="text-heading-3 color-green-900">+<span class="count">12</span>k</span>
                    </h4>
                    <p class="text-body-text color-gray-500">Projects done</p>
                  </div>
                  <div class="item-icon none-bd">
                    <span class="icon-left">
                      <img width="{64}" height="{64}" src="/assets/images/page/about/2/icon-officer.svg" alt="Moirai" />
                    </span>
                    <h4 class="text-heading-4">
                      <span class="text-heading-3 color-green-900">+<span class="count">28</span>k</span>
                    </h4>
                    <p class="text-body-text color-gray-500">
                      Offices / Factories
                    </p>
                  </div>
                  <div class="item-icon none-bd">
                    <span class="icon-left">
                      <img width="{64}" height="{64}" src="/assets/images/page/about/2/icon-constant.svg"
                        alt="Moirai" />
                    </span>
                    <h4 class="text-heading-4">
                      <span class="text-heading-3 color-green-900">+<span class="count">15</span>k</span>
                    </h4>
                    <p class="text-body-text color-gray-500">
                      Constant clients
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-box mt-70 mb-60">
    <div class="container mt-70">
      <div class="row">
        <div class="col-lg-1 col-sm-1 col-12"></div>
        <div class="col-lg-10 col-sm-10 col-12 text-center">
          <div class="text-center mb-20">
            <span class="tag-1 bg-2 color-orange-900">How It Work ?</span>
          </div>
          <h2 class="text-display-3 color-gray-900 mb-60">
            Elevate your Employee Development Journey
          </h2>
        </div>
        <div class="col-lg-1 col-sm-1 col-12"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-1 col-sm-12 col-12"></div>
        <div class="col-lg-10 col-sm-12 col-12">
          <ul class="list-steps">
            <li class="icon-asset1 wow animate__animated animate__fadeIn" data-wow-delay=".1s">
              <div class="text-center block-step">
                <div class="mb-30 flex justify-center">
                  <img width="{80}" height="{80}" src="/assets/images/page/about/2/icon-start-plan.svg" alt="Moirai" />
                </div>
                <h3 class="text-heading-5 mb-10">Start Plan</h3>
                <p class="text-body-text color-gray-500">
                  Choose any of our packages
                </p>
              </div>
            </li>
            <li class="icon-asset2 wow animate__animated animate__fadeIn" data-wow-delay=".3s">
              <div class="text-center block-step">
                <div class="mb-30 flex justify-center">
                  <img width="{80}" height="{80}" src="/assets/images/page/about/2/icon-connect.svg" alt="Moirai" />
                </div>
                <h3 class="text-heading-5 mb-10">Connect</h3>
                <p class="text-body-text color-gray-500">
                  Receive concepts In 24 hours
                </p>
              </div>
            </li>
            <li class="icon-asset3 wow animate__animated animate__fadeIn" data-wow-delay=".5s">
              <div class="text-center block-step bg-5">
                <div class="mb-30 flex justify-center">
                  <img width="{80}" height="{80}" src="/assets/images/page/about/2/icon-match.svg" alt="Moirai" />
                </div>
                <h3 class="text-heading-5 mb-10">Match</h3>
                <p class="text-body-text color-gray-500">Development Stage</p>
              </div>
            </li>
            <li class="icon-asset4 wow animate__animated animate__fadeIn" data-wow-delay=".9s">
              <div class="text-center block-step bg-5">
                <div class="mb-30 flex justify-center">
                  <img width="{80}" height="{80}" src="/assets/images/page/about/2/icon-complete.svg" alt="Moirai" />
                </div>
                <h3 class="text-heading-5 mb-10">Complete</h3>
                <p class="text-body-text color-gray-500">
                  After-release Support
                </p>
              </div>
            </li>
            <li class="wow animate__animated animate__fadeIn" data-wow-delay=".7s">
              <div class="text-center block-step bg-9">
                <div class="mb-30 flex justify-center">
                  <img width="{80}" height="{80}" src="/assets/images/page/about/2/icon-review.svg" alt="Moirai" />
                </div>
                <h3 class="text-heading-5 mb-10">Review</h3>
                <p class="text-body-text color-gray-500">
                  Project launch and checkout
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-lg-1 col-sm-12 col-12"></div>
      </div>
    </div>
  </section>
  <section class="section-box mt-70 bg-green-900 pt-20 pb-60">
    <div class="container mt-60">
      <div class="row">
        <div class="col-lg-6 col-sm-12 col-12 block-gallery-1">
          <div class="row">
            <div class="col-lg-6 col-md-6 block-gallery-col">
              <div class="col-12 col-md-12 d-flex justify-content-center mb-10">
                <img width="{375}" height="{250}" class="img-responsive" src="/assets/images/page/about/2/img-2.png"
                  alt="Moirai" />
              </div>
              <div class="col-12 col-md-12 d-flex justify-content-center mb-10">
                <img width="{375}" height="{250}" class="img-responsive" src="/assets/images/page/about/2/img-3.png"
                  alt="Moirai" />
              </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex justify-content-center mb-10">
              <img width="{375}" height="{504}" class="img-responsive" src="/assets/images/page/about/2/img-1.png"
                alt="Moirai" />
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-12 block-pl">
          <h2 class="text-heading-1 color-white mb-20 mt-20">
            Our Flagship Store
          </h2>
          <p class="text-inter-lg">
            Our main stores are strategically located in some of the busiest and
            most high-traffic areas in the world.
          </p>
          <div class="mt-30">
            <a routerLink="/service" class="btn btn-black text-body-text">Keep Reading</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <blogs-component title="Learn About Us" description="Know more about our fashion"
    [blogsData]="blogsData"></blogs-component>
  <section class="section-box mt-70 mb-60">
    <div class="container mt-60">
      <div class="row">
        <div class="col-lg-2 col-sm-1 col-12"></div>
        <div class="col-lg-8 col-sm-10 col-12 text-center">
          <h2 class="text-heading-1 color-gray-900">
            Frequently Asked Questions
          </h2>
          <p class="text-body-lead-large color-gray-600 mt-20">
            Share your thoughts through our feedback form. Your input is
            valuable to us as we strive to improve our products and services. We
            appreciate your feedback, and it helps us enhance the overall
            shopping experience for our customers.
          </p>
        </div>
        <div class="col-lg-2 col-sm-1 col-12"></div>
      </div>
    </div>
    <div class="container mt-60">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="row">
            <div class="col-lg-4 mb-50">
              <h4 class="text-heading-6 icon-leaf">Shipping and Delivery</h4>
              <p class="text-body-excerpt color-gray-600 mt-15">
                Learn about our shipping policies, estimated delivery times, and
                tracking your order.
              </p>
            </div>
            <div class="col-lg-4 mb-50">
              <h4 class="text-heading-6 icon-leaf">Returns and Exchanges</h4>
              <p class="text-body-excerpt color-gray-600 mt-15">
                Find information on our return policy, procedures for exchanging
                items, and refund processing.
              </p>
            </div>
            <div class="col-lg-4 mb-50">
              <h4 class="text-heading-6 icon-leaf">Sizing and Fit</h4>
              <p class="text-body-excerpt color-gray-600 mt-15">
                Discover how to choose the right size for your garments,
                including measurements and size charts.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 mt-50">
              <accordion-component [accordionData]="accordionData"></accordion-component>
              <div class="mt-50 text-center group-res-btns">
                <a routerLink="/" class="btn btn-green-900 icon-arrow-right-white text-heading-6 color-white">Contact
                  Us</a>
                <a routerLink="/" class="btn btn-link text-heading-6">Support Center</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </section>
  <contact-us-component></contact-us-component>
  <section class="section-box mt-70">
    <div class="container mt-70">
      <div class="row">
        <div class="col-lg-9 col-sm-8">
          <h3 class="text-heading-1 mb-10">Customers Feedback</h3>
          <p class="text-body-lead-large color-gray-600">
            What are our client talk about us?
          </p>
        </div>
      </div>
    </div>
    <div class="container mt-60 mobile-feedback">
      <testimonial-slider-component></testimonial-slider-component>
    </div>
  </section>
</div>
