<section class="section-box mt-20">
  <div class="container">
    <h2 class="text-heading-1 color-gray-900">
      My wishlist
    </h2>
    <div class="">
      <div class="tab-pane fade active show mt-20">
        <table class="table">
          <tr>
            <th>Product name</th>
            <th>Unit price</th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
          <tbody>
            <tr *ngIf="productList.length===0; else table" class="stand-up">
              <th colspan="4">No products added to the wishlist
              </th>
            </tr>
            <ng-template #table>
              <tr *ngFor="let item of productList">
                <th>
                  <a class="flex gap-3 items-center cursor-pointer" [routerLink]="'/shop/'+item.id">
                    <img class="w-32 h-32" [src]="'assets/images/page/shop1/'+item.img" alt="product" />
                    <div>{{item.title}}</div>
                  </a>
                </th>
                <th>
                  <p class="text-[rgba(251,203,59,1)]">${{item.newPrice}}</p>
                </th>
                <th>
                  <div class="flex mx-auto gap-3 border border-[#cccccc] rounded-lg w-fit px-2">
                    <div class="cursor-pointer hover:text-black" (click)="onDescreaseQty(item)">-</div>
                    <p class="">{{item.qty}}</p>
                    <div class="cursor-pointer hover:text-black" (click)="onInscreaseQty(item)">+</div>
                  </div>
                </th>
                <th>
                  <div class="flex justify-between items-center">
                    <div class="flex gap-4 items-center">
                      <p class="text-[rgba(251,203,59,1)]">${{item.newPrice*item.qty}}</p>
                    </div>
                    <div (click)="removeProduct(item)" class="btn-close cursor-pointer"></div>
                  </div>
                </th>
              </tr>
            </ng-template>
          </tbody>
        </table>
        <div class="w-fit">
          <button class="btn btn-green-full" [disabled]="disableUpdateCart">Update cart</button>
        </div>
      </div>
      <div class="hidden border border-[rgba(251,203,59,1)] rounded-2xl p-6">
        <h3>Cart totals</h3>
        <div class="mt-4 flex justify-between text-base">
          <p>Total</p>
          <p class="text-[rgba(251,203,59,1)]"></p>
        </div>
      </div>
    </div>
  </div>
</section>
