<div>
  <section class="section-box">
    <div class="banner-hero banner-3">
      <div class="container">
        <div class="text-center"><span class="tag-1 color-blue">Success Together</span>
          <h1 class="text-display-2 color-gray-900 mt-30">Working with us, <br class="d-lg-block d-none" />the
            awesome team</h1>
          <div class="text-body-lead-large color-gray-500 mt-40">Our commitment lies in seeking out exceptional
            individuals to join <br class="d-lg-block d-none" />our team. We set high standards, and you exhibit the
            readiness to <br class="d-lg-block d-none" />embrace the challenge. </div>
          <div class="mt-50">
            <a routerLink="/about" class="btn btn-black icon-arrow-right-white mb-15 our-team">Join our
              team</a>
            <a routerLink="/faqs" class="btn btn-default icon-arrow-right color-gray-900 btn-mb mb-15">Learn
              more</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="section-box mt-80">
    <div class="container mt-60">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="box-image">
            <a class="popup-youtube btn-play-video btn-play-middle" (click)="open = true"></a>
            <img width={1076} height={520} class="img-responsive bdrd-16" src="/assets/images/page/career/img.png"
              alt="Moirai" />
          </div>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </div>
  <about-us-component [bigTitle]="aboutUsContent.bigTitle" decription="aboutUsContent.decription"
    [aboutUsData]="aboutUsData"></about-us-component>
  <section class="section-box mt-70">
    <div class="container mt-70">
      <div class="row">
        <div class="col-lg-1 col-sm-1 col-12"></div>
        <div class="col-lg-10 col-sm-10 col-12 text-center">
          <h2 class="text-heading-1 color-gray-900 mb-10">Choose the category <br class="d-lg-block d-none" />where you
            expert</h2>
          <p class="text-body-lead-large color-gray-600 mt-20">In a professional context it often happens that
            private or corporate <br class="d-lg-block d-none" />clients order a publication to publish news.</p>
        </div>
        <div class="col-lg-1 col-sm-1 col-12"></div>
      </div>
    </div>
    <div class="container mt-40 mb-40">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="list-icons mt-20 hover-up">
            <div class="item-icon">
              <span class="icon-left">
                <img width={64} height={64} src="/assets/images/page/homepage2/icon-sale.svg" alt="Moirai" />
              </span>
              <div class="career-category">
                <h4 class="text-heading-4">Sales Associate</h4>
                <p class="text-body-text color-gray-600 mt-15">Delivers exceptional customer service, driving sales
                  and ensuring a positive shopping experience.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="list-icons mt-20 hover-up">
            <div class="item-icon"><span class="icon-left">
                <img width={64} height={64} src="/assets/images/page/homepage2/icon-staff.svg" alt="Moirai" />
              </span>
              <div class="career-category">
                <h4 class="text-heading-4">Alteration Clothing Staff</h4>
                <p class="text-body-text color-gray-600 mt-15">Skilled in clothing alterations, providing tailored
                  solutions for the perfect fit.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="list-icons mt-20 hover-up">
            <div class="item-icon"><span class="icon-left">
                <img width={64} height={64} src="/assets/images/page/homepage2/icon-ecommerce.svg" alt="Moirai" />
              </span>
              <div class="career-category">
                <h4 class="text-heading-4">E-commerce Specialist</h4>
                <p class="text-body-text color-gray-600 mt-15">Manages online operations and marketing to enhance
                  the digital shopping experience.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="list-icons mt-20 hover-up">
            <div class="item-icon">
              <span class="icon-left">
                <img width={64} height={64} src="/assets/images/page/homepage2/icon-buyer.svg" alt="Moirai" />
              </span>
              <div class="career-category">
                <h4 class="text-heading-4">Fashion Buyer</h4>
                <p class="text-body-text color-gray-600 mt-15">Sources and selects products to curate an appealing
                  product assortment.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="list-icons mt-20 hover-up">
            <div class="item-icon">
              <span class="icon-left">
                <img width={64} height={64} src="/assets/images/page/homepage2/icon-marketing.svg" alt="Moirai" />
              </span>
              <div class="career-category">
                <h4 class="text-heading-4">Marketing Manager</h4>
                <p class="text-body-text color-gray-600 mt-15">Implements strategic marketing plans to increase
                  brand visibility and engagement.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="list-icons mt-20 hover-up">
            <div class="item-icon"><span class="icon-left">
                <img width={64} height={64} src="/assets/images/page/homepage2/icon-customer.svg" alt="Moirai" />
              </span>
              <div class="career-category">
                <h4 class="text-heading-4">Customer Service Representative</h4>
                <p class="text-body-text color-gray-600 mt-15">Provides excellent support and resolves customer
                  inquiries for a positive experience.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <feedback-component tag="Employee feedbacks" title="Why Our Workplace Is One Of The Best!" description="Experience
    excellence at our workplace, where collaboration, innovation, and personal growth flourish. Our inclusive culture,
    supportive team, and competitive benefits make it one of the best. Discover a fulfilling and exceptional environment
    for professional success." [feedbackData]="fBData" feedbackStyle="'feedback-style-5'" />
  <blogs-component [blogsData]="blogsData"></blogs-component>
  <news-letter-component newsletterStyle="style-5" />
  <!-- <ModalVideo channel="youtube" youtube={{ autoplay: 1, mute: 1 }} isOpen={isOpen} videoId="A450hyqGkmk" onClose={()=>
    setOpen(false)}
    /> -->
</div>
