<section class="section-box">
  <div class="container box-reset">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="box-signup mt-90">
          <h1 class="text-heading-3 mb-15 text-center">Reset password</h1>
          <div class="text-center mb-50">
            <p class="text-body-text color-gray-500">Enter your email to reset your password.</p>
          </div>
          <div class="box-form-signup">
            <div class="form-group">
              <div class="form-field"><input class="form-control input-green-bd input-with-icon"
                  placeholder="Enter your email" /><span class="icon-email-right"></span></div>
            </div>
            <div class="form-group"><button class="btn btn-green-full text-heading-6">Reset password</button>
            </div>
            <div class="form-group">
              <a routerLink="/" class="text-body-text">Back to homepage</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
