<section class="section-box">
  <div class="bg-2-opacity-80">
    <div class="box-login">
      <div class="row">
        <div class="col-xxl-7 col-xl-6 col-lg-6 col-md-12 login-left pl-0 d-none d-lg-flex">
          <img width={1061} height={886} src="/assets/images/page/login/bg.png" alt="Moirai" />
        </div>
        <div class="col-xxl-5 col-xl-6 col-lg-6 col-md-12 login-right">
          <div class="box-login-form">
            <div class="box-signup mt-90">
              <h1 class="text-heading-3 mb-40 text-center">
                Welcome back.
              </h1>
              <a routerLink="#" class="btn btn-login-google color-gray-500 text-heading-6 box-shadow-2">
                <img width={20} height={20} class="img-responsive img-middle"
                  src="/assets/images/template/icons/Icon-gg-login.svg" alt="Moirai" />
                Sign in with Google
              </a>
              <div class="text-center">
                <div class="mt-40 box-line-throught mb-40">
                  <span class="text-body-text color-gray-500">
                    Or, sign in with your email
                  </span>
                </div>
              </div>
              <div class="box-form-signup">
                <div class="form-group">
                  <input class="form-control" placeholder="Your email *" />
                  <a routerLink="#" class="link-edit text-body-text">Edit</a>
                </div>
                <div class="form-group">
                  <div class="form-field">
                    <span class="text-body-small color-green-900 tag-top">
                      Password
                    </span>
                    <input class="form-control input-green-bd input-with-icon" placeholder="Your password *"
                      [type]="showPassword ? 'text' : 'password'" />
                    <div [ngClass]="showPassword ? 'icon-eye-left' : 'icon-eye-right'"
                      (click)="showPassword = !showPassword">
                    </div>
                  </div>
                </div>
                <div class="form-group">

                  <a routerLink="/auth/page-reset" class="text-body-text">Forgot password?</a>
                </div>
                <div class="form-group">
                  <button class="btn btn-green-full text-heading-6">
                    Continue
                  </button>
                </div>
                <div>
                  <span class="text-body-text color-gray-500">
                    Don’t have an account?
                  </span>
                  <a routerLink="/auth/page-signup" class="text-body-text color-green-900">
                    Sign up
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
