<div>
  <section class="section-box">
    <div class="banner-hero banner-2 bg-about-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-7"><span class="tag-1 bg-2 color-orange-900">What We Do, What You Get</span>
            <h1 class="text-display-3 mt-30">A small creative team excited to create beautiful things</h1>
            <p class="text-body-lead-large color-gray-500 mt-40 pr-40">Elevate Your Style, Embrace the Extraordinary
            </p>
            <div class="mt-40">
              <a routerLink="/service/page-service-1" class="btn btn-black icon-arrow-right-white">Join Our Team
              </a>
              <a routerLink="/page-contact" class="btn btn-link color-gray-900 icon-arrow-right text-heading-6">Contact
                Us
              </a>
            </div>
          </div>
          <div class="col-lg-5 d-none d-lg-block">
            <div class="banner-imgs">
              <div class="block-1 shape-1">
                <img width={220} height={296} src="/assets/images/page/about/1/banner2.png" alt="Moirai" />
              </div>
              <div class="img-responsive shape-2">
                <img width={510} height={686} alt="Moirai" src="/assets/images/page/about/1/banner1.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="section-box mt-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="bd-bottom pb-20 mb-40 text-mb-center">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-30"><span class="text-display-3 color-green-900">+
                  <!-- <CounterUp count={12} time={3} /> -->
                </span>
                <p class="text-body-text color-gray-500 pl-40">Years in Business</p>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-30"><span class="text-display-3 color-green-900">+
                  <!-- <CounterUp count={12} time={3} />k -->
                </span>
                <p class="text-body-text color-gray-500 pl-40">Projects Done</p>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-30"><span class="text-display-3 color-green-900">+
                  <!-- <CounterUp count={68} time={3} /> -->
                </span>
                <p class="text-body-text color-gray-500 pl-40">Designer</p>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-30"><span class="text-display-3 color-green-900">+
                  <!-- <CounterUp count={15} time={3} />k -->
                </span>
                <p class="text-body-text color-gray-500 pl-40">Constant Clients</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </div>
  <section class="section-box mt-70">
    <div class="container mt-70">
      <div class="row">
        <div class="col-lg-1 col-sm-1 col-12"></div>
        <div class="col-lg-10 col-sm-10 col-12 text-center">
          <div class="text-center mb-20"><span class="tag-1 bg-2 color-orange-900">What We Do, What You
              Get</span></div>
          <h2 class="text-display-3 color-gray-900 mb-30">The Power Of<br class="d-lg-block d-none" /> Creative
            Ideas</h2>
        </div>
        <div class="col-lg-1 col-sm-1 col-12"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="box-image">
            <a class="popup-youtube btn-play-video btn-play-middle" (click)="openVideo=true"></a>
            <img width={1076} height={520} class="img-responsive bdrd-16" src="/assets/images/page/about/1/img-1.png"
              alt="Moirai" />
          </div>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </section>
  <section class="section-box mt-70">
    <div class="container mt-70">
      <div class="row">
        <div class="col-lg-1 col-sm-1 col-12"></div>
        <div class="col-lg-10 col-sm-10 col-12 text-center">
          <h2 class="text-heading-1 color-gray-900 mb-10">What Makes Us Outstanding</h2>
          <p class="text-body-lead-large color-gray-600 mt-20">At our clothing shop, we strive to stand out from the
            crowd by<br class="d-lg-block d-none" /> offering a unique and exceptional shopping experience. Here
            are<br class="d-lg-block d-none" /> a few factors that set us apart.</p>
        </div>
        <div class="col-lg-1 col-sm-1 col-12"></div>
      </div>
    </div>
    <div class="container mt-60">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="list-icons mt-30">
            <div class="item-icon"><span class="icon-left">
                <img width={64} height={64} src="/assets/images/page/homepage2/icon-acquis.svg" alt="Moirai" />
              </span>
              <h4 class="text-heading-4">1. Unparalleled Quality</h4>
              <p class="text-body-text color-gray-600 mt-15">We meticulously curate our collections to ensure that
                every garment we offer meets the highest standards of quality.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="list-icons mt-30">
            <div class="item-icon"><span class="icon-left">
                <img width={64} height={64} src="/assets/images/page/homepage2/icon-active.svg" alt="Moirai" />
              </span>
              <h4 class="text-heading-4">2. Trendsetting Style</h4>
              <p class="text-body-text color-gray-600 mt-15">Our team of experienced fashion experts keeps a pulse
                on the latest trends and emerging styles.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="list-icons mt-30">
            <div class="item-icon"><span class="icon-left">
                <img width={64} height={64} src="/assets/images/page/homepage2/icon-retent.svg" alt="Moirai" />
              </span>
              <h4 class="text-heading-4">3. Community Engagement</h4>
              <p class="text-body-text color-gray-600 mt-15">We actively engage with our community through various
                initiatives.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-box mt-70">
    <div class="container mt-70">
      <div class="text-center mb-20"><span class="tag-1 bg-6 color-green-900">What We Do, What You Get</span>
      </div>
      <div class="row">
        <div class="col-lg-2 col-sm-1 col-12"></div>
        <div class="col-lg-8 col-sm-10 col-12 text-center">
          <h2 class="text-heading-1 color-gray-900">About Us</h2>
          <p class="text-body-lead-large color-gray-600 mt-20">We facilitate the creation of strategy and design.
          </p>
        </div>
        <div class="col-lg-2 col-sm-1 col-12"></div>
      </div>
    </div>
    <div class="container mt-60">
      <div class="row">
        <div class="col-lg-4 col-sm-12 mb-30">
          <div class="card-grid-style-3 h-full bd-bg-4 pb-40 mb-30">
            <div class="card-about">
              <div class="h-full">
                <div class="grid-1-img">
                  <img width={80} height={80} src="/assets/images/page/homepage1/company.svg" alt="Moirai" />
                </div>
                <h3 class="text-heading-4 mt-20">About the Company</h3>
                <p class="text-body-excerpt mt-20">
                  Our company is a leading fashion enterprise dedicated
                  to providing exceptional clothing and accessories. We
                  specialize in curating a wide range of stylish and
                  timeless designs that cater to various styles and
                  occasions.</p>
              </div>
              <div class="mt-30">
                <a routerLink="/service/page-service-1" class="btn btn-default icon-arrow-right">Learn more
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12 mb-30">
          <div class="card-grid-style-3 h-full bd-bg-9 pb-40 mb-30">
            <div class="card-about">
              <div class="h-full">
                <div class="grid-1-img">
                  <img width={80} height={80} src="/assets/images/page/homepage1/history.svg" alt="Moirai" />
                </div>
                <h3 class="text-heading-4 mt-20">History of Formation</h3>
                <p class="text-body-excerpt mt-20">
                  Our company has a rich and inspiring history. It all
                  started [insert specific information about the
                  company&apos;s origin, such as the year and
                  circumstances of establishment].
                </p>
              </div>
              <div class="mt-30">
                <a routerLink="/service/page-service-1" class="btn btn-default icon-arrow-right">Learn more
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12 mb-30">
          <div class="card-grid-style-3 h-full bd-bg-2 pb-40 mb-30">
            <div class="card-about">
              <div class="h-full">
                <div class="grid-1-img">
                  <img width={80} height={80} src="/assets/images/page/homepage1/social.svg" alt="Moirai" />
                </div>
                <h3 class="text-heading-4 mt-20">Social media</h3>
                <p class="text-body-excerpt mt-20">
                  At our company, our mission is to empower individuals
                  to express their unique personalities through fashion.
                  We believe that clothing goes beyond mere
                  functionality—it is a powerful form of
                  self-expression.
                </p>
              </div>
              <div class="mt-30">
                <a routerLink="/service/page-service-1" class="btn btn-default icon-arrow-right">Learn more
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-box mt-70">
    <div class="container mt-70">
      <div class="row">
        <div class="col-lg-9 col-sm-8">
          <h3 class="text-heading-1 mb-10">Our Team</h3>
          <p class="text-body-lead-large color-gray-600">Create & Trending</p>
        </div>
      </div>
    </div>
    <div class="container mt-60">
      <team-component></team-component>
    </div>
  </section>
  <section class="section-box mt-80">
    <div class="container mt-60">
      <div class="row">
        <div class="col-lg-9 col-sm-8">
          <h3 class="text-heading-1 mb-10">Customers Feedback</h3>
          <p class="text-body-lead-large color-gray-600">What are our client talk about us?</p>
        </div>
      </div>
    </div>
    <div class="container mt-60 mobile-feedback">
      <testimonial-slider-component></testimonial-slider-component>
    </div>
  </section>
  <blogs-component [blogsData]="blogsData"></blogs-component>
  <div *ngIf="openVideo">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/A450hyqGkmk?si=NPkvJa5HEXaOBwNX&amp;start=1"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>
</div>
