<div>
  <section class="section-box fit">
    <div class="bg-services-2">
      <div class="bg-services"></div>
    </div>
    <div class="banner-hero bg-service-2">
      <div class="container">
        <div class="row relative">
          <div class="col-lg-12 text-center">
            <h1 class="text-display-2">Perfect Fit <br class="d-lg-block d-none" /><span
                class="color-pink-primary">Tailoring Services</span></h1>
            <p class="text-body-lead-large color-gray-500 mt-40">Customize Your Wardrobe with Flawless Fit and
              Style.<br class="d-lg-block d-none" /> Say goodbye to ill-fitting clothes and hello to a<br
                class="d-lg-block d-none" /> wardrobe that fits you perfectly. </p>
          </div>
          <div class="col-lg-12 d-none d-lg-block banner-group-images">
            <div class="row">
              <div class="col-lg-2"></div>
              <div class="col-lg-8">
                <div class="banner-images">
                  <div class="block-1 banner-block-1 relative">
                    <img width="150" height="156" class="absolute top-[250px] -left-[176px]" src="/assets/images/page/services/2/card.png" alt="Moirai" />
                  </div>
                  <div class="block-2 banner-block-2 relative">
                    <img width="126" height="126" class="absolute top-0 -right-[32px]" src="/assets/images/page/services/2/bg-dot.svg" alt="Moirai" />
                  </div>
                  <div class="block-3 banner-block-3 relative">
                    <img width="216" height="110" class="absolute -top-[60px] -right-[194px]" src="/assets/images/page/services/2/chart-card.png" alt="Moirai" />
                  </div>
                  <div class="banner-main-img relative">
                    <img width="850" height="405" class="absolute top-0 left-0" src="/assets/images/page/services/2/banner.png" alt="Moirai" />
                  </div>

                </div>
              </div>
              <div class="col-lg-2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-box mt-100">
    <div class="container mt-70 text-center">
      <div class="row">
        <div class="col-lg-1 col-sm-1 col-12"></div>
        <div class="col-lg-10 col-12">
          <h2 class="text-heading-1 color-gray-900">Multiple Clothing Repair Options<br
              class="d-lg-block d-none" /> To Suit Your Needs</h2>
        </div>
        <div class="col-lg-1 col-sm-1 col-12"></div>
      </div>
      <div class="row mt-60 pb-60 border-bottom">
        <div class="col-lg-3 col-sm-6 col-12 mb-20">
          <div class="service-box pt-20 pl-20 pr-20 pb-20 bg-9">
            <h4 class="text-heading-4 color-gray-900 mb-15 text-center">Hemming Trousers</h4>
            <p class="text-body-text-md fw-bold color-gray-600 text-center">Make your perfect trousers, dress, or
              skirt the ideal length with our hemming service.</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 mb-20">
          <div class="service-box pt-20 pl-20 pr-20 pb-20 bg-11">
            <h4 class="text-heading-4 color-gray-900 mb-15 text-center">Replacing Buttons</h4>
            <p class="text-body-text-md fw-bold color-gray-600 text-center">Refresh and rejuvenate your clothing
              with our button replacement service.</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 mb-20">
          <div class="service-box pt-20 pl-20 pr-20 pb-20 bg-9">
            <h4 class="text-heading-4 color-gray-900 mb-15 text-center">Replacing Zipper</h4>
            <p class="text-body-text-md fw-bold color-gray-600 text-center">Enhance the longevity of your clothing
              with precision zipper replacement service.</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 mb-20">
          <div class="service-box pt-20 pl-20 pr-20 pb-20 bg-11">
            <h4 class="text-heading-4 color-gray-900 mb-15 text-center">Waist cinching</h4>
            <p class="text-body-text-md fw-bold color-gray-600 text-center">Transform your clothing with our waist
              cinching service.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-box mt-70">
    <div class="container mt-60">
      <div class="row">
        <div class="col-lg-1 col-sm-1 col-12"></div>
        <div class="col-lg-10 col-sm-10 col-12 text-center mt-40">
          <h2 class="text-heading-1 color-gray-900 mb-10">Precision Fixes: <br
              class="d-lg-block d-none" />Quality Commitment for Your Clothes</h2>
          <p class="text-body-lead-large color-gray-600 mt-20">Precision fixes for your clothes with quality
            craftsmanship. <br class="d-lg-block d-none" />Our skilled tailors ensure impeccable results using
            premium materials and techniques.</p>
        </div>
        <div class="col-lg-1 col-sm-1 col-12"></div>
      </div>
    </div>
    <div class="container precision-fixes">
      <div class="row">
        <div class="col-lg-1 col-sm-1 col-12"></div>
        <div class="col-lg-5 col-sm-12">
          <div class="bg-9 box-square hover-up">
            <h4 class="text-heading-4 color-gray-900 mb-15">Precise Alterations</h4>
            <p class="text-body-text-md color-gray-600">Our skilled tailors provide meticulous alterations, ensuring
              every adjustment is crafted with precision.</p>
            <div class="box-image-inner d-inline-flex bg-color-1">
              <img width={369} height={362} src="/assets/images/page/services/2/product-1.png" alt="Moirai" />
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-sm-12">
          <div class="bg-11 box-square hover-up">
            <h4 class="text-heading-4 color-gray-900 mb-15">Quality Materials & Techniques</h4>
            <p class="text-body-text-md color-gray-600">We use premium materials and proven techniques for fixing
              clothes, ensuring durability and impeccable results.</p>
            <div class="box-image-inner d-inline-flex bg-color-1">
              <img width={369} height={362} src="/assets/images/page/services/2/product-2.png" alt="Moirai" />
            </div>
          </div>
        </div>
        <div class="col-lg-1 col-sm-1 col-12"></div>
      </div>
    </div>
  </section>
  <section class="section-box mt-100">
    <div class="container mt-70">
      <div class="bg-we-do bdrd-58 pattern-white none-pattern pb-60">
        <div class="row">
          <div class="col-lg-2 col-sm-1 col-12"></div>
          <div class="col-lg-8 col-sm-10 col-12 text-center mt-70">
            <h2 class="text-heading-1 color-gray-900">What We Do</h2>
            <p class="text-body-lead-large color-gray-600 mt-20">Experience the joy of a flawless fit and unmatched
              style with our Perfect Fit Tailoring Services.</p>
          </div>
          <div class="col-lg-2 col-sm-1 col-12"></div>
        </div>
        <div class="container mt-70">
          <we-do-slider-component></we-do-slider-component>
        </div>
      </div>
    </div>
  </section>
  <section class="section-box mt-100">
    <div class="container mt-70">
      <div class="row">
        <div class="col-lg-5 mb-40">
          <h3 class="text-heading-1">Frequently asked questions</h3>
          <p class="text-body-text color-gray-600 mt-30">Feeling inquisitive? Have a read through some of our FAQs
            or contact our supporters for help</p>
          <div class="mt-60">
            <a routerLink="/contact" class="btn btn-black icon-arrow-right-white">Contact Us</a>
            <a routerLink="/about" class="btn btn-link text-heading-6">Support Center</a>
          </div>
        </div>
        <div class="col-lg-7">
          <accordion-component [accordionData]="accordionData"></accordion-component>
        </div>
      </div>
    </div>
  </section>
  <news-letter-component newsletterStyle="style-6"></news-letter-component>
</div>
