<section class="section-box mt-70 shop-bottom-banner">
  <div class="container mt-60">
    <div class="box-green box-green-2 bdr-18">
      <h3 class="text-heading-1 color-white">
        You can order on <br class="d-lg-block d-none" />
        App and Play store
      </h3>
      <p class="text-desc-white">
        Bring the world of shopping to your phone
      </p>
      <div class="mt-60">
        <a routerLink="#" class="mr-20">
          <img width={150} height={45} src="/assets/images/page/homepage5/apple-button.svg" alt="Moirai" />
        </a>
        <a routerLink="#">
          <img width={150} height={45} src="/assets/images/page/homepage5/google-play.svg" alt="Moirai" />
        </a>
      </div>
      <div class="mt-10">
        <span class="cb-layout mr-5">
          Order direct from the app
        </span>
        <span class="cb-layout">Save and searches</span>
      </div>
      <div class="block-1 d-none d-lg-block">
        <img width={210} height={241} src="/assets/images/page/shop1/safety.png" alt="Moirai" />
      </div>
      <div class="block-2 d-none d-lg-block">
        <img width={240} height={90} src="/assets/images/page/shop1/chart.png" alt="Moirai" />
      </div>
    </div>
  </div>
</section>
